body {
  background-attachment: fixed;
}
.container{
  margin: 10px;
  background-color: rgba(255, 255, 255, .15);  
  backdrop-filter: blur(5px);
  border-radius: 10px;
  box-shadow: 10px 5px 5px rgb(40, 39, 39);
}

.value {
  font-size: 78px;
  padding-left: 16px;
  padding-right: 16px;
  margin-top: 2px;
  font-family: 'Courier New', Courier, monospace;
}

.inputDiv{
  padding: 10px;
}

button {
  background-color: initial;
  background-image: linear-gradient(#975fcf 0, #760be0 100%);
  border-radius: 20px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0 3px 1px inset;
  color: #282727;
  cursor: pointer;
  display: inline-block;
  font-family: Inter, sans-serif;
  font-size: 12px;
  font-weight: 700;
  height: 5vh;
  line-height: 15px;
  margin-left: 14px;
  outline: 0;
  text-align: center;
  transition: all .3s cubic-bezier(.05, .03, .35, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: bottom;
  width: 160px;
}

button:hover{
  opacity: .7;
}
button:hover:disabled{
  opacity: .7;
}



input {
  font-size: 12px;
  padding: 2px;
  width: 200px;
  text-align: center;
  margin-right: 4px;
  border-radius: 0.2cm;
}

.buttonDiv{
  margin: 20px;
}