.results {
    display: flex;
    align-items: flex-end;
}

.summaryData{
margin-right: 10px;
font-size: 15px;
   text-align: right;
   line-height: 0.1;
  }

.results{
    align-items: center;
    justify-content: space-around;
    display: flex;
}