.results {
    display: flex;
    align-items: flex-end;
}

.owesData {
    background-color: red;
}

.owedData {
    background-color: green;
}

.results{
    align-items: center;
    justify-content: space-around;
    display: flex;
}