
.summaryData {
  margin-right: 25px;
  font-size: 12px;
  text-align: right;
  line-height: 1;
}

.results {
    margin:10px;
    font-size: 12px;
  display: flex;
  justify-content: space-around;
width: 96%;
  line-height: 1;
  text-align: right;
  margin-right: 12px;

}

.getResults{
    display: flex;
    justify-content: center;
    gap: 5px;
}
