.App {
  text-align: center;

  color: rgb(33, 32, 32);
}

body {
  background-image: url('./hdwood.jpg');
}

.App-logo {
  height: 25vmin;
  pointer-events: none;
  filter: drop-shadow(10px 5px 6px #777575);
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}
